plans/
fib_rs/
scripts/
target/
test_inline_rs/
tests/
.vscode/
docs/
$null
benchmarks/**/*.html
benchmarks/**/*.o
.cargo/
.roo/
/COMPARACION_FORJA_VS_RAVEN.md
test_resultados.txt
tests/
plans/*.md
/*.fa
*.ps1
*.exe
!/README.md
!/README_*.md
!/LICENSE.md
!/LICENSE
*.txt
*test*
*tests*
.forja_gui_cache/
vscode/forja-syntax/*.md
vscode/forja-syntax/**/*.md