[submodule "patches"]
	path = patches
	url = https://github.com/forja-lang/patches.git
[submodule "vscode"]
	path = vscode
	url = https://github.com/forja-lang/vscode.git
[submodule "examples"]
	path = examples
	url = https://github.com/forja-lang/examples.git
[submodule "benchmarks"]
	path = benchmarks
	url = https://github.com/forja-lang/benchmarks.git
[submodule "docs"]
	path = docs
	url = https://github.com/forja-lang/docs.git
[submodule "crates/forja-gui-rt"]
	path = crates/forja-gui-rt
	url = https://github.com/forja-lang/forja-gui-rt.git
[submodule "crates/forja-wasm"]
	path = crates/forja-wasm
	url = https://github.com/forja-lang/forja-wasm.git
